/Tema 1/Practica_4/build/
/Tema 1/Practica_4/nbproject/private/
/Tema 1/Practica_4.5/build/
/Tema 1/Practica_4.5/nbproject/private/
/Tema 1/Practica_4.5/dist/
/Tema 1/Practica_5/nbproject/private/
/Tema 1/Practica_5/build/
/Tema 1/Practica_6/nbproject/private/
/Tema 1/Practica_6/build/
/Tema 1/Practica_6/dist/
/Tema 1/Practica_8/nbproject/private/
/Tema 1/Practica_9/nbproject/private/
/Tema 1/Practica_9/build/
/Tema 1/examen/nbproject/private/
/Tema 1/practica_1/nbproject/private/
/Tema 1/practica_1/build/
/Tema 1/Practica_7/build/
/Tema 1/Practica_8/build/
/Tema 2/Practica1/nbproject/private/
/Tema 2/Practica1/build/
/Tema 2/Practica_2/nbproject/private/
/Tema 2/Practica_2/build/
/Tema 2/Practica_2/dist/
/Tema 2/Practica1/dist/
/Tema 2/Practica3/nbproject/private/
/Tema 2/votoLib/nbproject/private/
/Tema 2/votoLib/build/
